* {
    margin:0px;
    padding:0px;
}
body{
    font-family: Poppins;
}

nav {
   display: flex;
   align-items: center;
   margin:auto;
   height: 10vh;

}
nav  img:first-child{
    width:100px;
    margin-left:45px;
}
nav  img:last-child{
    display: block;

    margin-left:auto;
}
nav .nav-items{
    display: flex;
    gap:40px;
margin:auto;
font-weight: 200;
}
.intro-section .left-section{
    margin-top: 50px;
    margin-left:60px;
}
.nav-items .nav-item{
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
}
.intro-section{
    display: flex;
}
.intro-section .left-section h3 {
   font-size: 2rem;
   font-weight: 100;
  
}
.active-item{
    color: #fe6139;
  font-family:"Fredoka One" ;
}
.intro-section .left-section img{
    width: 30px;

}
.left-section{
    width: 50%;
}

.intro-section .left-section h1{
    font-size: 4.5rem;
    font-family: "Fredoka One";
   font-weight:10px;
   margin-bottom: 20px;
}
.sub-headlines .sub-headline img{
    background:#fe6139;
    width: 15px;
    padding:8px;
    border-radius: 50%;
    margin:5px 10px 5px 70px
}
.sub-headlines .sub-headline {
   display: flex;
   align-items: center;

}
.left-section .text {
    color: rgb(116, 115, 115);
font-size: 15px;
margin-top:15px;
}

.left-section .action-btn{
    padding:15px 30px 15px 30px;
    background:#fe6139; 
border: none;
color:white;
border-radius: 20px;
margin:15px 15px ;
cursor: pointer;

}
.right-section .action-btn{
    padding:15px 30px 15px 30px;
    background:#fe6139; 
border: none;
color:white;
border-radius: 20px;
display: block;
margin:auto;
cursor: pointer;
}
/* right section */
.right-section img:last-child {
position: relative;
width:500px;
left:60px;
}
.right-section  .headphone-div{
    position: relative;
    width: 570px;
}
.right-section  .headphone-div img:first-child{
    position: absolute;
    width: 130px;
    left:25px;
     top:300px;
    z-index: 2;
}

.right-section .discount-content {
    position: absolute;
    left:60px;
    top:340px;
    z-index: 3;
    font-family: "Fredoka One";
    color: white;
}
.right-section .dots{
    display: flex;
    justify-content: center;

}
.right-section .dots .dot {
width:25px;
height: 25px;
border-radius: 50%;
margin:10px;
}

.right-section .dots .yellow-dot{
    background: #fbd104;
}
.right-section .dots .tomato-dot {
background: #fe5e35;
}
.right-section .dots .black-dot {
    background: #000000;
}